.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "form overview";
}

.form-container {
  margin: 48px 96px 48px 96px;
  padding: 0 24px 24px 24px;
  border: #282c34 4px solid;
  border-radius: 8px;
}

.form-subcontainer,
.form-subcontainer-dynamic,
.reset-container {
  display: grid;
}

.form-subcontainer-dynamic {
  margin: 10px 0 10px 0;
}

.form-personal,
.form-experience,
.form-education {
    padding: 16px;
    margin-bottom: 10px;
    border: none;
    background: #DBE2EF;
    border-radius: 4px;
    opacity: 0.8;
}

.form-personal:focus,
.form-experience:focus,
.form-education:focus {
  opacity: 1;
  outline: none;
}

button {
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 4px;
}

button:hover {
  opacity: 1;
}

.add-experience, 
.add-education {
  margin-bottom: 10px;
  background-color: #04AA6D;
}

.del-experience,
.del-education {
  background-color: red;
}

.reset {
  color: #282c34;
}