.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 1fr 4vh;
  grid-template-areas: 
  "header header"
  "form overview"
  "footer footer";
}

.header {
  grid-area: header;
  display: grid;
  font-weight: bold;
  background-color: #112D4E;
  color: white;
  text-align: center;
  align-items: center;
}

.form-container {
  grid-area: form;
  margin: 48px 48px 48px 96px;
  padding: 24px 24px 24px 24px;
  border: #282c34 4px solid;
  border-radius: 16px;
}

.overview-container {
  grid-area: overview;
  margin: 48px 48px 48px 48px;
  border: #282c34 4px solid;
  height: 1123px;
  width: 794px;
}

.overview-printable {
  padding: 24px 36px 24px 36px;
}

.form-subcontainer,
.form-subcontainer-dynamic,
.reset-container {
  display: grid;
}

.form-subcontainer,
.form-subcontainer-dynamic {
  margin-bottom: 10px;
}

.form-personal-title,
.form-experience-title,
.form-education-title {
  margin-bottom: 10px;
  margin-top: 0;
} 

.form-personal,
.form-experience,
.form-education {
    padding: 16px;
    margin-bottom: 10px;
    border: none;
    background: #DBE2EF;
    border-radius: 4px;
    opacity: 0.8;
}

.form-personal:focus,
.form-experience:focus,
.form-education:focus {
  opacity: 1;
  outline: none;
}

button {
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 4px;
}

button:hover {
  opacity: 1;
}

.add-experience, 
.add-education {
  margin-bottom: 10px;
  background-color: #04AA6D;
}

.del-experience,
.del-education {
  background-color: red;
}

.buttons-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  flex: 1;
  color: #282c34;
}

.loadExample {
  flex: 1;
  margin: 0 10px 0 10px;
  background-color: darkblue;
}

.generatePdf {
  flex: 1;
  background-color: darkgreen;
}

textarea { 
  resize: vertical;
}

.overview-personal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview-personal-name {
  margin-bottom: 0;
  margin-top: 0;
}

.overview-personal-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.overview-personal-contacts {
  display: flex;
  font-size: 12px;
}

.overview-personal-email {
  margin-right: 6px;
}

.overview-personal-phone {
  margin-left: 6px;
}

.overview-experience-title,
.overview-education-title {
  margin-bottom: 0;
}

.overview-experience,
.overview-education {
  font-size: 12px;
  display: grid;
  margin-bottom: 10px;
}

.overview-experience {
  grid-template-areas: 
  "companyName workCity"
  "position workFromTo"
  "workDesc Desc";
}

.overview-experience div,
.overview-education div {
  margin-bottom: 6px;
}

.overview-education {
  grid-template-areas: 
  "schoolName studyCity"
  "degreeTitle studyFromTo"
}

.overview-experience-name, 
.overview-education-name {
  font-size: 14px;
  font-weight: bold;
}

.overview-experience-position, 
.overview-education-position {
  font-weight: 550;
}

.overview-experience-city, 
.overview-education-city {
  font-size: 14px;
  font-style: italic;
  justify-self: end;
}

.overview-experience-fromTo,
.overview-education-fromTo {
  font-style: italic;
  justify-self: end;
}

.footer {
  background-color: #DBE2EF;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}