.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 1fr 4vh;
  grid-template-areas: 
  "header header"
  "form overview"
  "footer footer";
}

.header {
  grid-area: header;
  display: grid;
  font-weight: bold;
  background-color: #112D4E;
  color: white;
  text-align: center;
  align-items: center;
}

.form-container {
  grid-area: form;
  margin: 48px 48px 48px 96px;
  padding: 0 24px 24px 24px;
  border: #282c34 4px solid;
  border-radius: 12px;
}

.overview-container {
  grid-area: overview;
  margin: 48px 48px 48px 48px;
  padding: 0 24px 24px 24px;
  border: #282c34 4px solid;
  height: 842px;
  width: 595px;
}

.form-subcontainer,
.form-subcontainer-dynamic,
.reset-container {
  display: grid;
}

.form-subcontainer-dynamic {
  margin: 10px 0 10px 0;
}

.form-personal,
.form-experience,
.form-education {
    padding: 16px;
    margin-bottom: 10px;
    border: none;
    background: #DBE2EF;
    border-radius: 4px;
    opacity: 0.8;
}

.form-personal:focus,
.form-experience:focus,
.form-education:focus {
  opacity: 1;
  outline: none;
}

button {
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 4px;
}

button:hover {
  opacity: 1;
}

.add-experience, 
.add-education {
  margin-bottom: 10px;
  background-color: #04AA6D;
}

.del-experience,
.del-education {
  background-color: red;
}

.reset {
  margin-top: 20px;
  color: #282c34;
}


textarea { 
  resize: vertical; 
}

.overview-personal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview-personal-name {
  margin-bottom: 0;
}

.overview-personal-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.overview-personal-contacts {
  display: flex;
  font-size: 12px;
}

.overview-personal-email {
  margin-right: 6px;
}

.overview-personal-phone {
  margin-left: 6px;
}

.footer {
  background-color: #DBE2EF;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}